# 忽略所有数据集文件夹
coco/
data/coco/
data/demo/

# 忽略压缩包（防止误传 zip）
*.zip
*.tar.gz
*.rar

# 忽略大型权重文件（如果你手搓完模型保存了权重）
*.pth
*.pt
*.onnx
checkpoints/
logs/
datasets/

# 忽略 Python 缓存
__pycache__/
*.pyc

# 忽略系统文件
.DS_Store
Thumbs.db
